body {
    margin: 0;
    padding: 0;
    background-image: url(images/credit-card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.success {
    border: 2px solid green;
    background-color: rgba(255, 255, 255, 0.534);
    height: 8vh;
    width: 40vw;
}

.error {
    border: 2px solid  red;
    background-color: rgba(255, 255, 255, 0.534);
    height: 8vh;
    width: 40vw;
}


#nav {
    margin-bottom: 6vh;
}
.container {
    margin-top: 10vh auto;

}

.form-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3em;
    width: 48vw;
    box-shadow: 3px 3px 5px  rgb(37, 37, 37);
    margin: 0 auto;
}

.input {
    border : none;
    border-bottom:2px solid rgb(186, 194, 202);
    background-color: rgba(255, 255, 255, 0.534);
    height: 8vh;
    width: 40vw;
}

.labels {
 color:rgb(161, 158, 158);
 font-size: 0.8em;
 margin-bottom: 1vh;
 margin-left: 0.5vw;
}